DirectoryIndex index.php
AddDefaultCharset UTF-8

<IfModule mod_headers.c>
<FilesMatch ".(webp|gif|jpg|jpeg|png|ico|svg|js|css|pdf)$">
  Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>

RewriteBase /
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*)\.less$ index.php 
RewriteRule ^(.*)\.scss$ index.php 

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^database(.*)$ index.php [R=404,L]
RewriteRule ^.git(.*)$ index.php [R=404,L]

RewriteRule ^kosmetologiya/regenerativnaya-meditsina.html$ /services/regenerativnaya-medicina-regenera [L,R=301]
RewriteRule ^laser-epil1/lazernaya-epilyatsiya-litsa.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^dermatologiya/akne/belie_ugri.html$ /problems/akne-i-postakne [L,R=301]
RewriteRule ^prp.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^intim-plastik.html$ /services/intimnaya-plastika [L,R=301]
RewriteRule ^dermatologiya/udalenie-novoobr.html$ /services/udalenie-dobrokachestvennykh-obrazovaniy [L,R=301]
RewriteRule ^uvelichenie-gub.html$ /services/fillery [L,R=301]
RewriteRule ^dermatologiya/laser-shlifovka-rubtcov.html$ /services/lazernaya-shlifovka [L,R=301]
RewriteRule ^massag-litca.html$ /services/massaj-lica [L,R=301]
RewriteRule ^gipergidroz.html$ /services/lechenie-gipergidroza-povyshennaya-potlivost [L,R=301]
RewriteRule ^meh-chistka.html$ /services/mekhanicheskaya-chistka-litsa [L,R=301]
RewriteRule ^pilingi.html$ /services/dermatologicheskiy-piling [L,R=301]
RewriteRule ^kont-plastika.html$ /services/fillery [L,R=301]
RewriteRule ^mezoterapiya.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^biorevitaliz.html$ /services/biorevitalizaciya-mezorevitalizaciya [L,R=301]
RewriteRule ^laser-epil.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^botulino.html$ /services/botulinoterapiya [L,R=301]
RewriteRule ^fotoomolozhenie.html$ /services/fotolechenie-bbl [L,R=301]
RewriteRule ^udalenie-pigmentacii.html$ /problems/pigmentaciya-melazma-lentigo-vesnushki-vetiligo [L,R=301]
RewriteRule ^inf-termolifting.html$ /services/igolchatiy-rf-lifting [L,R=301]
RewriteRule ^dermatologiya/diagn-mikoz.html$ /problems/mikozy-gribkovye-porajeniya [L,R=301]
RewriteRule ^fizioterapiya/duplscan.html$ /services/uzi [L,R=301]
RewriteRule ^dermatologiya/complex.html$ /services/regenerativnaya-medicina-regenera [L,R=301]
RewriteRule ^shlifovka.html$ /services/lazernaya-shlifovka [L,R=301]
RewriteRule ^ginekologiya/uzi.html$ /services/uzi [L,R=301]
RewriteRule ^ginekologiya/gin-consult.html$ /services/konsultaciya-vracha-ginekologa [L,R=301]
RewriteRule ^dermatologiya/demodekoz.html$ /problems/demodekoz [L,R=301]
RewriteRule ^dermatologiya/ugri.html$ /problems/ugri-otkrytye-zakrytye-komedony [L,R=301]
RewriteRule ^fizioterapiya/physio-mikrotoki.html$ /services/mikrotokovaya-terapiya [L,R=301]
RewriteRule ^mezoterapiya-volos.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-gub.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-vek.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-tela.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^fizioterapiya/bicom-bodycheck.html$ /services/biorezonansnaya-diagnostika [L,R=301]
RewriteRule ^plazmoterapiya-kozhi-golovy.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^konturnaya-plastika-skul.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-nosogubnykh-skladok.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-vek.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-gub.html$ /services/fillery [L,R=301]
RewriteRule ^dermatologiya/akne/lechenie_akne_v_klinike_rosh.html$ /problems/akne-i-postakne [L,R=301]
RewriteRule ^dermatologiya/akne/pitanie_pri_akne.html$ /problems/akne-i-postakne [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]

php_value post_max_size 5000M
php_value upload_max_filesize 5000M