DirectoryIndex index.php
AddDefaultCharset UTF-8

<IfModule mod_headers.c>
<FilesMatch ".(webp|gif|jpg|jpeg|png|ico|svg|js|css|pdf)$">
  Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>

RewriteBase /
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*)\.less$ index.php 
RewriteRule ^(.*)\.scss$ index.php 

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^database(.*)$ index.php [R=404,L]
RewriteRule ^.git(.*)$ index.php [R=404,L]

RewriteRule ^kosmetologiya/regenerativnaya-meditsina.html$ /services/regenerativnaya-medicina-regenera [L,R=301]
RewriteRule ^laser-epil1/lazernaya-epilyatsiya-litsa.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^dermatologiya/akne/belie_ugri.html$ /problems/akne-i-postakne [L,R=301]
RewriteRule ^prp.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^intim-plastik.html$ /services/intimnaya-plastika [L,R=301]
RewriteRule ^dermatologiya/udalenie-novoobr.html$ /services/udalenie-dobrokachestvennykh-obrazovaniy [L,R=301]
RewriteRule ^uvelichenie-gub.html$ /services/fillery [L,R=301]
RewriteRule ^dermatologiya/laser-shlifovka-rubtcov.html$ /services/lazernaya-shlifovka [L,R=301]
RewriteRule ^massag-litca.html$ /services/massaj-lica [L,R=301]
RewriteRule ^gipergidroz.html$ /services/lechenie-gipergidroza-povyshennaya-potlivost [L,R=301]
RewriteRule ^meh-chistka.html$ /services/mekhanicheskaya-chistka-litsa [L,R=301]
RewriteRule ^pilingi.html$ /services/dermatologicheskiy-piling [L,R=301]
RewriteRule ^kont-plastika.html$ /services/fillery [L,R=301]
RewriteRule ^mezoterapiya.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^biorevitaliz.html$ /services/biorevitalizaciya-mezorevitalizaciya [L,R=301]
RewriteRule ^laser-epil.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^botulino.html$ /services/botulinoterapiya [L,R=301]
RewriteRule ^fotoomolozhenie.html$ /services/fotolechenie-bbl [L,R=301]
RewriteRule ^udalenie-pigmentacii.html$ /problems/pigmentaciya-melazma-lentigo-vesnushki-vetiligo [L,R=301]
RewriteRule ^inf-termolifting.html$ /services/igolchatiy-rf-lifting [L,R=301]
RewriteRule ^dermatologiya/diagn-mikoz.html$ /problems/mikozy-gribkovye-porajeniya [L,R=301]
RewriteRule ^fizioterapiya/duplscan.html$ /services/uzi [L,R=301]
RewriteRule ^dermatologiya/complex.html$ /services/regenerativnaya-medicina-regenera [L,R=301]
RewriteRule ^shlifovka.html$ /services/lazernaya-shlifovka [L,R=301]
RewriteRule ^ginekologiya/uzi.html$ /services/uzi [L,R=301]
RewriteRule ^ginekologiya/gin-consult.html$ /services/konsultaciya-vracha-ginekologa [L,R=301]
RewriteRule ^dermatologiya/demodekoz.html$ /problems/demodekoz [L,R=301]
RewriteRule ^dermatologiya/ugri.html$ /problems/ugri-otkrytye-zakrytye-komedony [L,R=301]
RewriteRule ^fizioterapiya/physio-mikrotoki.html$ /services/mikrotokovaya-terapiya [L,R=301]
RewriteRule ^mezoterapiya-volos.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-gub.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-vek.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^mezoterapiya-tela.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^fizioterapiya/bicom-bodycheck.html$ /services/biorezonansnaya-diagnostika [L,R=301]
RewriteRule ^plazmoterapiya-kozhi-golovy.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^konturnaya-plastika-skul.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-nosogubnykh-skladok.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-vek.html$ /services/fillery [L,R=301]
RewriteRule ^konturnaya-plastika-gub.html$ /services/fillery [L,R=301]
RewriteRule ^dermatologiya/akne/lechenie_akne_v_klinike_rosh.html$ /problems/akne-i-postakne [L,R=301]
RewriteRule ^dermatologiya/akne/pitanie_pri_akne.html$ /problems/akne-i-postakne [L,R=301]

RewriteRule ^(.*).html$ /  [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]

#16-01

RewriteRule ^kosmetologiya/laser-epil1/lazernaya-epilyatsiya-litsa.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^kosmetologiya/prp.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^kosmetologiya/intim-plastik.html$ /services/intimnaya-plastika [L,R=301]
RewriteRule ^kosmetologiya/uvelichenie-gub.html$ /services/fillery [L,R=301]
RewriteRule ^kosmetologiya/massag-litca.html$ /massaj-lica [L,R=301]
RewriteRule ^kosmetologiya/gipergidroz.html$ /services/lechenie-gipergidroza-povyshennaya-potlivost [L,R=301]
RewriteRule ^kosmetologiya/meh-chistka.html$ /mekhanicheskaya-chistka-litsa [L,R=301]
RewriteRule ^kosmetologiya/pilingi.html$ /services/dermatologicheskiy-piling [L,R=301]
RewriteRule ^kosmetologiya/kont-plastika.html$ /services/fillery [L,R=301]
RewriteRule ^kosmetologiya/mezoterapiya.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^kosmetologiya/biorevitaliz.html$ /services/biorevitalizaciya-mezorevitalizaciya [L,R=301]
RewriteRule ^kosmetologiya/laser-epil.html$ /services/lazernaya-epilyaciya [L,R=301]
RewriteRule ^kosmetologiya/botulino.html$ /services/botulinoterapiya [L,R=301]
RewriteRule ^kosmetologiya/fotoomolozhenie.html$ /services/fotolechenie-bbl [L,R=301]
RewriteRule ^kosmetologiya/udalenie-pigmentacii.html$ /problems/pigmentaciya-melazma-lentigo-vesnushki-vetiligo [L,R=301]
RewriteRule ^kosmetologiya/inf-termolifting.html$ /services/igolchatiy-rf-lifting [L,R=301]
RewriteRule ^kosmetologiya/shlifovka.html$ /services/lazernaya-shlifovka [L,R=301]
RewriteRule ^kosmetologiya/mezoterapiya-gub.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^kosmetologiya/mezoterapiya-volos.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^kosmetologiya/mezoterapiya-vek.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^kosmetologiya/mezoterapiya-tela.html$ /services/mezoterapiya [L,R=301]
RewriteRule ^kosmetologiya/plazmoterapiya-kozhi-golovy.html$ /services/plazmoterapiya [L,R=301]
RewriteRule ^kosmetologiya/konturnaya-plastika-skul.html$ /services/fillery [L,R=301]
RewriteRule ^kosmetologiya/konturnaya-plastika-nosogubnykh-skladok.html$ /services/fillery [L,R=301]
RewriteRule ^kosmetologiya/konturnaya-plastika-vek.html$ /services/fillery [L,R=301]
RewriteRule ^kosmetologiya/konturnaya-plastika-gub.html$ /services/fillery [L,R=301]

RewriteRule ^about/spetsialisty.php?ID=1$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=4$ / [L,R=301]
RewriteRule ^shkola_zdorovya_rosh/zapisi-seminarov/$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1271$ / [L,R=301]
RewriteRule ^photoarchive/proc.php$ / [L,R=301]
RewriteRule ^photoarchive/$ / [L,R=301]
RewriteRule ^about/vacancies.php$ / [L,R=301]
RewriteRule ^about/contacts.php$ / [L,R=301]
RewriteRule ^about/price.php$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1267$ / [L,R=301]
RewriteRule ^about/public/$ / [L,R=301]
RewriteRule ^about/articles/$ / [L,R=301]
RewriteRule ^fizioterapiya/$ / [L,R=301]
RewriteRule ^about/spetsialisty.php$ / [L,R=301]
RewriteRule ^photoarchive/results.php$ / [L,R=301]
RewriteRule ^about/videos.php$ / [L,R=301]
RewriteRule ^about/news/$ / [L,R=301]
RewriteRule ^shkola_zdorovya_rosh/$ / [L,R=301]
RewriteRule ^dermatologiya/akne/$ / [L,R=301]
RewriteRule ^about/reviews.php$ / [L,R=301]
RewriteRule ^about/informatsiya-dlya-potrebiteley.php$ / [L,R=301]
RewriteRule ^photoarchive/equipment.php$ / [L,R=301]
RewriteRule ^photoarchive/ekscurs.php$ / [L,R=301]
RewriteRule ^uhod_za_kozhei/$ / [L,R=301]
RewriteRule ^politika/$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/2.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/4/1.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/2/1.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/4.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/6.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/8.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/3.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/1.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/5.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/2/2.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/3/2.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/9.php$ / [L,R=301]
RewriteRule ^photoarchive/proc/1/7.php$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=510$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=224$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=534$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=512$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=511$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=489$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=225$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=491$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=490$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=513$ / [L,R=301]
RewriteRule ^about/public/?PAGEN_1=4$ / [L,R=301]
RewriteRule ^about/public/?PAGEN_1=2$ / [L,R=301]
RewriteRule ^about/public/?PAGEN_1=3$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=181$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=180$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=182$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=184$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=163$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=162$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=241$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=164$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=165$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=166$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=167$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=168$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=169$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=963$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=1239$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=171$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=172$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=173$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=174$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=175$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=176$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=199$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=177$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=178$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=178$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=179$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=812$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=813$ / [L,R=301]
RewriteRule ^about/articles/detail.php?ID=1208$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=79$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=5$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=8$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=9$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=7$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=1212$ / [L,R=301]
RewriteRule ^about/spetsialisty.php?ID=80$ / [L,R=301]
RewriteRule ^about/aktsii/$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1167$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1067$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1220$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1142$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1141$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1182$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1181$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1180$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1206$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1229$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1249$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1204$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1149$ / [L,R=301]
RewriteRule ^about/news/?PAGEN_1=1$ / [L,R=301]
RewriteRule ^about/news/?PAGEN_1=2$ / [L,R=301]
RewriteRule ^about/news/?PAGEN_1=3$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1111$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1253$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1076$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1115$ / [L,R=301]
RewriteRule ^about/reviews_add.php$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=242$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=243$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=155$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=158$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=159$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=226$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=229$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=161$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=160$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=361$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=252$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=298$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=287$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=244$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=245$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=301$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=246$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=247$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=734$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=970$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1063$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1065$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=972$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=755$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=756$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=945$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=979$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1019$ / [L,R=301]
RewriteRule ^about/news/detail.php?ID=1059$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=139$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=140$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=141$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=134$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=133$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=142$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=137$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=138$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=135$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=136$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=151$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=144$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=150$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=145$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=153$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=143$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=148$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=149$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=146$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=223$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=24$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=26$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=25$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=129$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=22$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=130$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=132$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=223$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=223$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=223$ / [L,R=301]
RewriteRule ^about/public/detail.php?ID=223$ / [L,R=301]

php_value post_max_size 5000M
php_value upload_max_filesize 5000M