/* utilities */
.bg-primary {
	background-color : #0D6EFD !important;
}
.bg-secondary {
	background-color : #6C757D !important;
}
.bg-success {
	background-color : #198754 !important;
}
.bg-info {
	background-color : #0DCAF0 !important;
}
.bg-warning {
	background-color : #FFC107 !important;
}
.bg-danger {
	background-color : #DC3545 !important;
}
.bg-light {
	background-color : #F8F9FA !important;
}
.bg-dark {
	background-color : #212529 !important;
}
.bg-body {
	background-color : #FFF !important;
}
.bg-white {
	background-color : #FFF !important;
}
.bg-transparent {
	background-color : transparent !important;
}
.bg-gradient {
	background-image : var(--bs-gradient) !important;
}
.m-auto {
	margin : auto !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
	cursor : pointer;
}
[type=button]:disabled, .disabled, button.disabled, button:disabled {
	pointer-events : none !important;
	opacity        : .6;
}
.clearfix::after {
	display : block;
	clear   : both;
	content : "";
}
.link-primary {
	color : #0D6EFD;
}
.link-primary:hover, .link-primary:focus {
	color : #0A58CA;
}
.pay-status-free {
	background    : #0A58CA;
	padding       : 4px;
	border-radius : 50%;
	width         : 8px;
	height        : 8px;
	margin-right  : 2px;
	display       : inline-block;

}
.link-secondary {
	color : #6C757D;
}
.link-secondary:hover, .link-secondary:focus {
	color : #565E64;
}

.link-success {
	color : #198754;
}

.pay-status-prepay {
	background    : #198754;
	padding       : 4px;
	border-radius : 50%;
	width         : 8px;
	height        : 8px;
	margin-right  : 2px;
	display       : inline-block;
}
.link-success:hover, .link-success:focus {
	color : #146C43;
}

.link-info {
	color : #0DCAF0;
}
.link-info:hover, .link-info:focus {
	color : #3DD5F3;
}

.link-warning {
	color : #FFC107;
}
.link-warning:hover, .link-warning:focus {
	color : #FFCD39;
}

.link-danger {
	color : #DC3545;
}

.pay-status-unpay {
	background    : #DC3545;
	padding       : 4px;
	border-radius : 50%;
	width         : 8px;
	height        : 8px;
	display       : inline-block;
	margin-right  : 2px;
}
.link-danger:hover, .link-danger:focus {
	color : #B02A37;
}

.link-light {
	color : #F8F9FA;
}
.link-light:hover, .link-light:focus {
	color : #F9FAFB;
}

.link-dark {
	color : #212529;
}
.link-dark:hover, .link-dark:focus {
	color : #1A1E21;
}

.position-fixed {
	position : fixed !important;
}
.b-0, .bottom-0 {
	bottom : 0 !important;
}
.r-0, .end-0 {
	right : 0 !important;
}
.t-0, .top-0 {
	top : 0 !important;
}
.pl-0{
	padding-left : 0 !important;
}
.p-0 {
	padding : 0 !important;
}
.p-1 {
	padding : 0.25rem !important;
}
.p-2 {
	padding : 0.5rem !important;
}
.p-3 {
	padding : 1rem !important;
}
.p-4 {
	padding : 1.5rem !important;
}
.p-5 {
	padding : 3rem !important;
}
/*
.online-consultation header, .online-consultation footer, .online-consultation .phone.--openpopup {
	display : none !important;
}*/
.online-consultation .row {
	margin-bottom : 10px;
}
.online-consultation video {
	margin        : 0;
	width         : 100%;
	box-sizing    : border-box;
	border-radius : 2px;
	padding       : 0;
	box-shadow    : rgba(156, 172, 172, 0.2) 0 2px 2px, rgba(156, 172, 172, 0.2) 0 4px 4px, rgba(156, 172, 172, 0.2) 0 8px 8px, rgba(156, 172, 172, 0.2) 0 16px 16px, rgba(156, 172, 172, 0.2) 0 32px 32px, rgba(156, 172, 172, 0.2) 0 64px 64px;
}
.jq-toast-wrap {
	width : 340px !important;
}
.jq-toast-wrap .jq-toast-single{
	font-size: 13px;
	line-height: 18px;
}
.account__table .acount__table-accardeon {
	padding-left  : 20px;
	padding-right : 20px;
}
.loading-overlay {
	height           : 100%;
	left             : 0;
	position         : absolute;
	top              : 0;
	width            : 100%;
	border-radius    : 20px;
	min-height       : 64px;
	align-items      : center;
	background-color : #F0F1F1CC;
	backdrop-filter  : blur(4px);
	display          : flex;
	justify-content  : center;
	z-index          : 99;
}
.loading-overlay .loader {
	border        : 4px solid #FFF; /* Light */
	border-top    : 4px solid #466; /* Dark */
	border-radius : 50%;
	width         : 42px;
	height        : 42px;
	animation     : spin .75s linear infinite;
}
.account__table-body:has(.loading-overlay),
.account:has(.loading-overlay),
.page-content:has(.loading-overlay) {
	padding-bottom : 110px;
}
.account__table-body .loading-overlay,
.account .loading-overlay,
.page-content .loading-overlay {
	min-height : 120px;
}
@keyframes spin {
	0% { transform : rotate(0deg); }
	100% { transform : rotate(360deg); }
}
.admin-photos .account__panel {
	width : 100%;
}
.file-photo .file-photo__ico {
	width  : 35%;
	height : auto;
	min-height : 62px;
}
.account-events__block{
	border-bottom-color: #e2e2e2;
}
.account-events__block .account-events__block-wrap {
	max-width : 1200px;
	width: 100%;
}
.account-events__item.event_date {
	width : calc(30% - 120px);
}
.account-events__btns .account-events__btn {
	width : calc(40% - 40px);
}
.profile-editor-inline {
	padding-top : 20px;
	margin-top  : 20px;
	border-top  : 1px solid #E7E7E7;
}
.expert__worked-pic img{
	max-height : 300px;
}
.admin-events-item.col-experts{
	flex-direction: column;
}
.admin-events-item > div, .admin-events-item > a{
	line-height: 1.2em;
}
.admin-events-item:nth-child(2){
	width : 8%;
}
.admin-events-item.w-10{
	width : 10% !important;
}
.admin-events-item.w-9, .admin-events-item:nth-child(1) {
	width : 10% !important;
}
.admin-events-item:nth-child(5){
	width : 5%;
}
.admin-events-item:nth-child(6){
	width : 9%;
}
.admin-events-item.w-7{
	width : 7% !important;
}
.admin-events-item.w-8 {
	width : 8% !important;
}
.admin-events-item:nth-child(10), .admin-events-item.comment {
	width : 19%;
}
div.accardeon.active > div.accardeon__list {
	border-top : 1px solid #E0E0EA;
}
.ui-timepicker-container.ui-timepicker-standard {
	z-index : 9999 !important;
}
.record-edit .search__block .input {
	max-width    : initial;
	margin-right : 0;
}
.autocomplete-suggestion .search__drop-right .search__drop-summ {
	min-width: 42px;
}
.autocomplete-suggestions.search__drop {
	padding          : 12px;
	background-color : #FBF9F7;
}
.autocomplete-suggestion.search__drop-item {
	margin-bottom : 8px;
}
.autocomplete-suggestions {
	background-color : #FEFEFE;
	cursor           : pointer;
}
.client-card.link {
	color      : #246;
	transition : all linear .3s;
}
.client-card.link:hover {
	text-decoration : underline;
}
.record-edit .account-events__item.wide .account-event-wrap {
	font-size : 1.3em;
}
.account-events__block .account-events__item {
	margin-right : 20px;
}
.account-events__block .account-events__item:first-child {
	width : calc(45% - 20px);
}
.autocomplete-suggestions .autocomplete-suggestion:hover {
	background-color : #D0DFF3;
	outline          : 1px solid #EFEFEF;
}
.photos .autocomplete-suggestions .autocomplete-suggestion {
	padding       : 4px 8px;
	z-index       : 99999;
	font-size     : 15px;
	margin-bottom : 2px;
	line-height   : 1.2;
}
.admin-editor__patient .search__drop-item {
	background : white;
	padding    : 10px 0 10px 12px;
}
.acount__table-accardeon.accardeon {
	margin-bottom  : 12px;
	padding-bottom : 12px;
	padding-left  : 20px;
	padding-right : 20px;
}
.popup__panel.popup__panel-wide {
	max-width : 60%;
}
.admin-editor__top-select .select.pay .select__main,
.admin-editor__top-select .select.status .select__main,
.has-values > .select__main{
	color: #444;
	border-color: #444;
}
.admin-photos{
	justify-content: flex-start;
}
/* loader 3-dots */
.loader-dots,
.loader-dots:before,
.loader-dots:after {
	border-radius               : 50%;
	width                       : 1.2em;
	height                      : 1.2em;
	-webkit-animation-fill-mode : both;
	animation-fill-mode         : both;
	-webkit-animation           : three-dots 1.2s infinite ease-in-out;
	animation                   : three-dots 1.2s infinite ease-in-out;
}
.loader-dots {
	color                   : #545454;
	font-size               : 12px;
	margin                  : 80px auto;
	position                : relative;
	text-indent             : -9999em;
	-webkit-transform       : translateZ(0);
	-ms-transform           : translateZ(0);
	transform               : translateZ(0);
	-webkit-animation-delay : -0.16s;
	animation-delay         : -0.16s;
}
.loader-dots:before,
.loader-dots:after {
	content  : '';
	position : absolute;
	top      : 0;
}
.loader-dots:before {
	left                    : -2em;
	-webkit-animation-delay : -0.32s;
	animation-delay         : -0.32s;
}
.loader-dots:after {
	left : 2em;
}
small {
	font-size: smaller!important;
}
.fancybox__caption {
	text-align: center;
}
.acount__table-main{
	height : auto!important;
	min-height : 60px;
}
.user__edit.all{
	white-space    : nowrap;
	letter-spacing : 0;
}
.user__panel--border {
	padding-left: 28px;
}
.acount__table-list.accardeon__list.admin-editor .admin-editor__edit-profile {
	margin-bottom: 0;
}
.acount__table-list.accardeon__list.admin-editor .admin-editor__top {
	padding: 28px 40px 0;
}
.lk-main .page{
	padding-top:100px;
}
a.client-card {
	z-index: 9999;
}
ul li.service_price{
	line-height   : 1.15;
	margin-bottom : 8px;
	letter-spacing: -0.2px;
	text-align    : justify;
}
.lk-cabinet .ml-20 {
	margin-left: 20px;
}
.lk-cabinet .ml-10 {
	margin-left: 10px;
}
.lk-cabinet .font-16 {
	font-size: 16px;
}
.lk-cabinet .btn.btn--compact {
	font-size: 16px;
	height: 40px;
}
.admin-events-item.orderby {
	cursor: pointer;
}
.status-new{
	/*background : linear-gradient(0deg, rgba(251, 237, 204, .5), rgba(251, 237, 204, .5)), #FBF9F7;*/
}
.status-uncall{
	background : #f8e7e3;
}
.status-delay{
	background : #EEE2F8;
}
.status-past{
	background : #E0F5E2;
}
.status-upcoming{
	background : #FDF2DE;
}
.status-cancel_expensive{
	background: linear-gradient(0deg, rgba(144, 201, 255, .5), rgba(144, 201, 255, .5)), #FBF9F7;
}
.status-cancel_think{
	background: #c6f6f8;
}
.status-cancel_noreason{
	background: #bde0fc;
}
.admin-events-item.orderby.selected{
	color : #1E60C1;
}
.autocomplete-suggestions.search__drop{
	z-index : 999999!important;

}
.autocomplete-suggestions .autocomplete-suggestion{
	z-index: 1000000;
	cursor : pointer;
}
.text-danger {color : #DC3545 !important}
a.text-danger:hover, a.text-danger:focus {color : #A71D2A !important}
.admin-edit__user-btns.vertical-btns {
	flex-direction  : column;
	justify-content : space-between;
	text-align      : end;
}
.admin-editor__events {
	padding-top: 20px;
}
img.preview.cloned{
	margin-bottom : 4px;
}
.file-photo__ico {
	flex-direction: column;
}
.search__drop-item.consultation .checkbox.search__drop-name {
	max-width    : initial;
	padding-left : 20px;
	width        : 100%;
}
.container.expert-page .acount__table-accardeon.accardeon {
	margin-bottom  : 2px;
	padding-bottom : 2px;
}
.expert-page .acount__table-main::after {
	top : 20px;
}

.expert-page .acount__table-main::after {
	top : 20px;
}
.comment_for_expert {
	max-width     : 100%;
	margin-bottom : 20px;
}
.border-top {
	border-top : 1px solid #DEE2E6 !important;
}
.bg-inherit {
	background : inherit !important;
}
.text-justify {
	text-align : justify;
}
.account-event-wrap .account-events__name {
	margin-right : 10px;
}
.admin-events-item.comment {
	overflow           : hidden;
	text-overflow      : ellipsis;
	display            : -webkit-box;
	-webkit-line-clamp : 3; /* number of lines to show */
	line-clamp         : 3;
	-webkit-box-orient : vertical;
}
.accardeon__main.acount__table-auto{
	padding-bottom: 16px;
	padding-top: 16px;
}
@media (max-width : 1280px) {
	.admin-events-item:nth-child(7) {
		width          : 7%;
		flex-direction : column;
	}
	.account__table-head {
		padding-left  : 8px;
		padding-right : 8px;

	}
	.acount__table-accardeon.accardeon{
		padding-left: 8px;
		padding-right: 8px;

	}

	.admin-events-item.w-9, .admin-events-item:nth-child(1) {
		width : 11% !important;
	}
}

@media (max-width : 768px) {

	.comment_for_expert {
		max-width     : 100%;
		margin-bottom : 8px;
	}
	.search__drop-item .search__drop-delete {opacity : 1}
	.search__drop-item .search__drop-name {
		padding-left : 20px;
	}
	.user__name svg {
		margin-left : 10px;
	}

	.popup__panel.popup__panel-wide {
		max-width : 95%;
	}
	.lk-main div.header__admin > a.btn{
		margin-right: 10px;
		letter-spacing: 0;
	}
	.lk-main div.header__admin{
		max-width: 80%;
		flex-wrap: wrap;
	}
	.lk-main .header--transparent .container{
		height: auto;
	}
}
@media (min-width : 768px) {
	.after-healing__item.photo .photos,
	.before-healing__item .after-healing__photo {
		max-width: 50%;
		background-position: center;
	}

	h2.healing__date-title {
		text-transform : lowercase !important;
		margin-bottom: 20px;
		font-size: 32px;
	}
	.account-events__item.wide .account-event {
		line-height : 1.12;
		margin-top  : 3px;
	}
	.account-events__item.wide {
		width        : calc(65% - 40px);
		margin-right : 20px;
	}
	.record-edit .account-events__name {
		font-weight : 600;
	}
	.acount__table-list {
		padding-top : 10px;
	}
	.record-edit .account-events__item.wide {
		width         : auto;
		margin-right  : 20px;
		margin-top    : 0;
		margin-bottom : 60px;
	}
	.before-healing__photo {
		height : 171px;
		max-width : 260px;
	}
	.admin-editor__images .after-healing__photo,
	.admin-editor__images .before-healing__photo {
		max-width           : initial;
		height              : 171px;
		background-size     : cover;
		background-repeat   : no-repeat;
		background-position : center;
		border-radius       : 20px;
		margin-bottom       : 14px;
	}
}
@-webkit-keyframes three-dots {
	0%,
	80%,
	100% {
		box-shadow : 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow : 0 2.5em 0 0;
	}
}
@keyframes three-dots {
	0%,
	80%,
	100% {
		box-shadow : 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow : 0 2.5em 0 0;
	}
}