@import "all.css";

header { position: fixed !important; }

div.popup.--service div.text { margin: 0; }

.popup.--service-l .popup__panel {
    max-width: 830px; top: 60px;
    -webkit-transform: translateY(0) translateX(-50%); transform: translateY(0) translateX(-50%);
}

.no-border { border: none !important; }

a.header__logo {
    background: black;
    border-radius: 0 0 .5em .5em;
}

@media (max-width: 550px) {
    .header--transparent .header__left { padding-left: 100px; }
    .header--transparent .header__left button {
        height: 2.4em;
        font-size: .9em; line-height: 2.4em;
    }

    a.header__logo {
        padding-top: .3em;
    }
}

@media (max-width: 350px) {
    .header--transparent .header__left { padding-left: 70px; }
}