@import "all.css";

.cursor-pointer {
    cursor: pointer;
}

a, [data-ajax], label, input[type=checkbox], input[type=radio] {
    cursor: pointer;
}

div.popup.--service div.text { margin: 0; }

div.ddl + div.ddm { display: none; padding-left: 1.5em; }
div.ddl.active + div.ddm { display: block; }
div.ddl > a + svg.svgsprite._drop {
    margin-left: .8em; width: 20px; height: 10px;
    vertical-align: middle; margin-top: -8px;
}

.radius-20 {
    border-radius: 20px;
}

.w-100p {
    width: 100%;
}

.text-break {
    white-space:pre-wrap;
}

.popup.--service-l .popup__panel {
    max-width: 830px; top: 60px;
    -webkit-transform: translateY(0) translateX(-50%); transform: translateY(0) translateX(-50%);
}

.no-border { border: none !important; }

a.header__logo { background: black; border-radius: 0 0 .5em .5em; }
div.--closefilter { display: block; }

div.account__tab-item { display: inline-block; }
div.account__tab-items { display: block; }
div.account__tab-items div.buttons { float: right; display: none; }
div.account__tab-items div.buttons > label { position: absolute; right: 2em; top: 3px; }

div.accardeon.active > div.accardeon__list { display: block; }
div.select.active > div.select__list { display: block; }
.select-form .select__list{ max-height: 160px; overflow: auto; }
.autocomplete-suggestions{ background-color: #fff;  max-height: 240px!important; overflow: auto; }
.autocomplete-suggestions .autocomplete-suggestion{ padding: 2px; z-index: 99999;}
.autocomplete-suggestions .autocomplete-suggestion:hover{background-color : #eefeff;}
div.swiper-horizontal { overflow: hidden; }

form.profile-edit.active, div.profile-edit.active {width:100%; display: block; }

#mainmenu { position: fixed; }

.profile-menu.active > div.enter__panel {
    display: block;
}

.select__item--checkbox input[type=checkbox]:checked ~ .checbox__name {
    color: black;
}

button.flag-date__ico.checked { color: red; }

.air-datepicker-global-container { z-index: 10000; }

.select.has-values .select__placeholder {
    display: none;
}

.air-datepicker-cell.-current- {
    color: #080e0d !important;
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current-,
.air-datepicker-cell.-selected-.-focus- {
    background: #fbf3e1 !important;
    color: #080e0d !important;
}

.air-datepicker-nav--action,
.air-datepicker-body--day-name {
    color: #debc70 !important;
}

.--closefilter {
    cursor: pointer;
}

div.admin-events-item.heap span.dt > .title { display: none; margin-right: .5em; }

.acount__table-main::after { top: 2em; }

label.text-radio > span { text-align: center; }
.admin-events-item > div{
    line-height: 1.2em;
    margin-bottom: 6px;
}
.quote-edit .search__block .input{
    max-width : 100%;
    margin-right: 0;
}
.admin-events-item:nth-child(6) {
    width: 7%;
}

.repeater-sample { display: none !important; }

@media (max-width: 1792px) {
    .admin-events-item:nth-child(5)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 27%; }
}

@media (max-width: 1600px) {
    .admin-events-item:nth-child(1)  { width: 10%; }
    .admin-events-item:nth-child(2)  { width: 6%; }
    .admin-events-item:nth-child(3)  { width: 9%; }
    .admin-events-item:nth-child(4)  { width: 7%; }
    .admin-events-item:nth-child(5)  { width: 10%; }
    .admin-events-item:nth-child(6)  { width: 6%; }
    .admin-events-item:nth-child(7)  { width: 10%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 9%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 24%; }
}

@media (max-width: 1440px) {
    .admin-events-item:nth-child(1)  { width: 10%; }
    .admin-events-item:nth-child(2)  { width: 6%; }
    .admin-events-item:nth-child(3)  { width: 9%; }
    .admin-events-item:nth-child(4)  { width: 8%; }
    .admin-events-item:nth-child(5)  { width: 8%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 10%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 10%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 23%; }
}

@media (max-width: 1366px) {
    .admin-events-item:nth-child(1)  { width: 11%; }
    .admin-events-item:nth-child(2)  { width: 7%; }
    .admin-events-item:nth-child(3)  { width: 8%; }
    .admin-events-item:nth-child(4)  { width: 8%; }
    .admin-events-item:nth-child(5)  { width: 8%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 10%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 10%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 22%; }
}

@media (max-width: 1280px) {
    .admin-events-item:nth-child(1)  { width: 11%; }
    .admin-events-item:nth-child(2)  { width: 6%; }
    .admin-events-item:nth-child(3)  { width: 8%; }
    .admin-events-item:nth-child(4)  { width: 8%; }
    .admin-events-item:nth-child(5)  { width: 8%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 10%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 10%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 23%; }
}

@media (max-width: 1140px) {
    .admin-events-item:nth-child(1)  { width: 12%; }
    .admin-events-item:nth-child(2)  { width: 7%; }
    .admin-events-item:nth-child(3)  { width: 9%; }
    .admin-events-item:nth-child(4)  { width: 7%; }
    .admin-events-item:nth-child(5)  { width: 9%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 12%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 8%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 20%; }
}

@media (max-width: 1024px) {
    .admin-events-item:nth-child(1)  { width: 14%; }
    .admin-events-item:nth-child(2)  { width: 7%; }
    .admin-events-item:nth-child(3)  { width: 9%; }
    .admin-events-item:nth-child(4)  { width: 7%; }
    .admin-events-item:nth-child(5)  { width: 9%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 11%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 8%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 19%; }
}

@media (max-width: 981px) {
    .admin-events-item:nth-child(1)  { width: 15%; }
    .admin-events-item:nth-child(2)  { width: 8%; }
    .admin-events-item:nth-child(3)  { width: 9%; }
    .admin-events-item:nth-child(4)  { width: 7%; }
    .admin-events-item:nth-child(5)  { width: 9%; }
    .admin-events-item:nth-child(6)  { width: 7%; }
    .admin-events-item:nth-child(7)  { width: 10%; flex-direction: column;}
    .admin-events-item:nth-child(8)  { width: 7%; }
    .admin-events-item:nth-child(9)  { width: 9%; }
    .admin-events-item:nth-child(10) { width: 19%; }
}

@media (max-width: 980px) {
    div.account__tab-items div.buttons { display: block; }
    div.admin-events-item.heap {
        display: block;
        margin: 0 0 1em 4px; padding: 0 0 1em 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    div.admin-events-item.heap div.flag-date { display: block; }
    div.admin-events-item.heap div.flag-date > label { top: 2px; display: inline-block; height: 1em; }
    div.admin-events-item.heap div.flag-date > label > span { top: -1px; }
    div.admin-events-item.heap span.dt { margin-left: 2em; float: right; text-align: right; }
    div.admin-events-item.heap span.dt > .title { display: inline-block; }
    div.admin-events-item span.dt > i,
    div.admin-events-item span.dt > br { display: none; }
}

@media (max-width: 767px) {
    header.header--admin { height: 160px; }

    div.header__admin > span.lower-deck { width: 350px; position: absolute; left: 0; top: 60px; }
    div.header__admin > a.btn { padding-left: 0; padding-bottom: 0; }

    form.profile-edit p.text-bold.delivery-address {
        margin-top: 2em;
    }
}

@media (max-width: 550px) {
    header.header--admin { font-size: .9em; }

    .header--transparent .header__left { padding-left: 100px; }
    div.header__admin > span.lower-deck > button,
    .header--transparent .header__left button { height: 2.4em; line-height: 2.4em; }

    div.header__admin > a.btn { padding-right: 0; }

    a.header__logo { padding-top: .3em; }

    div.admin-editor__type-event label.text-radio > span {
        min-width: 100px;
    }

    div.profile-education__input {
        width: 100%;
    }

    header.header-user div.header__right > button.btn-link {
        display: none;
    }

    header a.btn[href="#mainfilter"] {
        padding: 0 20px; height: 2.4em; line-height: 2.4em;
    }
}

@media (max-width: 350px) {
    .header--transparent .header__left { padding-left: 70px; }
    div.header__right > button.btn-link { padding-left: 20px; padding-right: 20px; }
}



.cookies-block {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    min-height: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white; /* var(--bg-secondary-color); */
    border-top: 1px solid var(--border-color);
    transform: translateY(100%);
    transition: 0.8s;
 }
 .cookies-block--active {
    transform: translateY(0);
 }
 .cookies-block__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 @media (min-width: 960px) {
    .cookies-block__container {
       flex-direction: row;
    }
 }
 .cookies-block__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
 }
 @media (min-width: 960px) {
    .cookies-block__wrapper {
       margin-bottom: 0;
    }
 }
 .cookies-block__text {
    font-size: 14px;
    line-height: 20px;
 }
 @media (min-width: 960px) {
    .cookies-block__text {
       font-size: 18px;
       line-height: 24px;
    }
 }
 .cookies-block__icon {
    display: block;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    stroke: currentColor;
 }
 .cookies-block__link {
    text-decoration: underline;
 }
 .cookies-block__link:hover {
    color: var(--typo-ghost-color);
 }
 .cookies-block__accept-button,
 .page404 {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .cookies-block__accept-button {
    flex-shrink: 0;
    max-width: 200px;
    height: 48px;
    padding: 10px 30px;
    color: white; /* var(--white); */
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    text-transform: lowercase;
    background-color: #282d30; /* var(--bg-dark-color); */
    border: 0;
    border-radius: 99em;
    cursor: pointer;
 }
 .cookies-block__accept-button:hover {
    color: white; /* var(--bg-primary-color); */
    background-color: #d6dee1;  /* var(--light-grey); */
 }

 .gallery {
    overflow: hidden;
 }

 .mainfilter p {
    font-family: "Playfair Display",serif;
    margin-bottom: 30px;
 }
 .fancybox-container *{
    position: static;
 }